.products_container {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  align-items: center;
  overflow: hidden;
}

.product_block {
  max-width: 380px;
  height: 545px;
  justify-content: center;
  align-items: center;
  margin-right: 31px;
  display: flex;
  flex-direction: column !important;
  cursor: pointer;
}

.product_block:hover {
  transition: 250ms;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}

.product_container {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PR_title {
  position: relative;
  left: -20%;
}

.PR_title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: 58.61px;
  height: 7.33px;
  background-color: #ffcd11;
}

.PR_title h2 {
  font-family: "Poppins Bold", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 286.38px !important;
  max-height: 245.14px !important;
}

.title_product {
  width: auto;
  height: auto;
  margin-top: 10.82px;
  /* margin-left: 18.91px; */
  padding: 0 5px;
}

.title_product p {
  font-family: "Noto Sans Balinese Bold", sans-serif;
  font-size: 29.55px;
  line-height: 23.64px;
  position: relative;
  text-align: center;

  /* Добавлено для переноса текста */
  word-wrap: break-word; /* IE 5.5+ и Safari 1.1+ */
  overflow-wrap: break-word; /* CSS3, используется в современных браузерах */
  word-break: break-word; /* поддержка переноса длинных слов */
}


.title_product p::after {
  content: "";
  position: absolute;
  left: 35%;
  bottom: -12.82px;
  width: 101.05px;
  height: 5.13px;
  background-color: #ffcd11;
}

.description {
  margin-top: 40.1px;
  margin-left: 18.91px;
  width: 291.75px;
  height: 160px;
}

.description p {
  font-family: "Noto Sans Balinese Regular", sans-serif;
  font-size: 13.29px;
  line-height: 22.43px;
}

.showmore {
  margin: 19.03px 115px 12px 85px;
  text-align: center;
}

.showmore button {
  width: 160px;
  height: 38px;
  cursor: pointer;
  font-family: "Noto Sans Balinese Bold", sans-serif;
  font-size: 13.29px;
  line-height: 22.43px;
  color: #ecc140;
  background-color: #000000;
  font-size: 20.52px;
  line-height: 16.41px;
  text-align: center;
  border-radius: 5px;
}

.showmore button:hover {
  transition: 250ms;
  background-color: #1f1e1e;
}

.slyder {
  max-width: 1200px;
  flex-direction: row !important;
}

.slick-slide {
  max-width: 300px;
} 

@media (max-width: 1024px) {
  .products_container {
    width: auto;
    height: auto;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .imageContainer img {
    max-width: 226.38px !important;
    max-height: 145.14px !important;
  }

  .product_container {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  .product_block {
    max-width: 300px; 
  }


  .slyder {
    max-width: 960px;
  }

  .imageContainer img {
    max-width: 246.38px !important;
    max-height: 175.14px !important;
  }

  .product_block {
    margin-left: 260px;
  }
  .description {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 30px;
  }
  
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .products_container {
    /* width: auto; */
    height: auto;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sliderr {
    display: flex;
    width: 900px;
    align-items: center;
  }

  .description {
    height: 60px;
  }

  .slyder {
    width: auto;
  }
}

@media (max-width: 480px) {
  .products_container {
    width: auto;
    height: auto;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .title_product {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 25px;
  }

  .title_product p {
    padding: 0 5px;
    font-size: 18px;
    word-wrap: break-word; /* IE 5.5+ и Safari 1.1+ */
  overflow-wrap: break-word; /* CSS3, используется в современных браузерах */
  word-break: break-word;
  }

  .product_block {
    width: 200px;
    /* min-width: 220px; */
    margin-left: 0;
    height: 100%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
  }

  .description {
    display: flex;
    width: 90%;
    margin: 25px 0 0 0;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    height: 100px;
  }

  .description p {
    font-size: 8px;
  }

  .showmore {
    margin: 0;
    text-align: center;
  }
  
  .PR_title {
    position: relative;
    left: 0;
  }

  .sliderr {
    width: 350px;
  }
}
