@font-face {
  font-family: "Gilroy-Bold ☞";
  src:
    local("Gilroy-Bold ☞"),
    url("Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Heavy ☞";
  src:
    local("Gilroy-Heavy ☞"),
    url("Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light ☞";
  src:
    local("Gilroy-Light ☞"),
    url("Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium ☞";
  src:
    local("Gilroy-Medium ☞"),
    url("Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular ☞";
  src:
    local("Gilroy-Regular ☞"),
    url("Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins Regular";
  src:
    local("Poppins Regular"),
    url("Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins Italic";
  src:
    local("Poppins Italic"),
    url("Poppins-Italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Thin";
  src:
    local("Poppins Thin"),
    url("Poppins-Thin.woff") format("woff");
}

@font-face {
  font-family: "Poppins Thin Italic";
  src:
    local("Poppins Thin Italic"),
    url("Poppins-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraLight";
  src:
    local("Poppins ExtraLight"),
    url("Poppins-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraLight Italic";
  src:
    local("Poppins ExtraLight Italic"),
    url("Poppins-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Light";
  src:
    local("Poppins Light"),
    url("Poppins-Light.woff") format("woff");
}

@font-face {
  font-family: "Poppins Light Italic";
  src:
    local("Poppins Light Italic"),
    url("Poppins-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium";
  src:
    local("Poppins Medium"),
    url("Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium Italic";
  src:
    local("Poppins Medium Italic"),
    url("Poppins-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins SemiBold";
  src:
    local("Poppins SemiBold"),
    url("Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins SemiBold Italic";
  src:
    local("Poppins SemiBold Italic"),
    url("Poppins-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Bold";
  src:
    local("Poppins Bold"),
    url("Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins Bold Italic";
  src:
    local("Poppins Bold Italic"),
    url("Poppins-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraBold";
  src:
    local("Poppins ExtraBold"),
    url("Poppins-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraBold Italic";
  src:
    local("Poppins ExtraBold Italic"),
    url("Poppins-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Black";
  src:
    local("Poppins Black"),
    url("Poppins-Black.woff") format("woff");
}

@font-face {
  font-family: "Poppins Black Italic";
  src:
    local("Poppins Black Italic"),
    url("Poppins-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Balinese Regular";
  src:
    local("Noto Sans Balinese Regular"),
    url("NotoSansBalineseRegular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Balinese Medium";
  src:
    local("Noto Sans Balinese Medium"),
    url("NotoSansBalineseMedium.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Balinese SemiBold";
  src:
    local("Noto Sans Balinese SemiBold"),
    url("NotoSansBalineseSemiBold.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Balinese Bold";
  src:
    local("Noto Sans Balinese Bold"),
    url("NotoSansBalineseBold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Regular";
  src:
    local("Roboto Regular"),
    url("Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Italic";
  src:
    local("Roboto Italic"),
    url("Roboto-Italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  src:
    local("Roboto Bold"),
    url("Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold Italic";
  src:
    local("Roboto Bold Italic"),
    url("Roboto-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Thin";
  src:
    local("Roboto Thin"),
    url("Roboto-Thin.woff") format("woff");
}

@font-face {
  font-family: "Roboto Thin Italic";
  src:
    local("Roboto Thin Italic"),
    url("Roboto-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Light";
  src:
    local("Roboto Light"),
    url("Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto Light Italic";
  src:
    local("Roboto Light Italic"),
    url("Roboto-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium";
  src:
    local("Roboto Medium"),
    url("Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium Italic";
  src:
    local("Roboto Medium Italic"),
    url("Roboto-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Black";
  src:
    local("Roboto Black"),
    url("Roboto-Black.woff") format("woff");
}

@font-face {
  font-family: "Roboto Black Italic";
  src:
    local("Roboto Black Italic"),
    url("Roboto-BlackItalic.woff") format("woff");
}
