.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 1160px;
  height: auto;
  margin-top: 65px;
}

.Links {
  /* margin-left: 146px; */
  white-space: wrap;
}

.href {
  /* margin-left: 146px; */
}

.href p {
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  color: #565656;
}

.links {
  width: 1114.92px;
  margin-top: 25px;
}

.links p {
  text-align: left;
  font-family: "Roboto Bold", sans-serif;
  font-size: 30.91px;
  line-height: 38.64px;
  color: #000000;
}

.to {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.to p {
  margin-top: 4.8px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 14.05px;
  line-height: 17.56px;
  color: #000000;
  white-space: nowrap;
}

.to p:not(:first-child) {
  margin: 0px;
  margin-top: 4.8px;
  padding-left: 52.38px;
}

.to a {
  margin-top: 4.8px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 14.05px;
  line-height: 17.56px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

.to a:not(:first-child) {
  margin: 0px;
  margin-top: 4.8px;
  padding-left: 52.38px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin-top: 30px;
  }

  .Links,
  .href {
    margin-left: 20px;
  }

  .links {
    width: 90%;
    margin-top: 20px;
  }

  .to p:not(:first-child),
  .to a:not(:first-child) {
    padding-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
    margin-top: 50px;
  }

  .Links,
  .href {
    margin-left: 30px;
  }

  .links {
    width: 80%;
    margin-top: 30px;
  }

  .to p:not(:first-child),
  .to a:not(:first-child) {
    /* margin-top: 15px; */
    padding-left: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 80%;
    margin-top: 60px;
  }

  .Links,
  .href {
    margin-left: 40px;
  }

  .links {
    width: 70%;
    margin-top: 40px;
  }

  .to p:not(:first-child),
  .to a:not(:first-child) {
    padding-left: 40px;
  }
}
