/* .brands_container button:hover {
  background-color: #f7cb4a;
}

.brands_container {
  margin: 0 auto;
  max-width: 1350px;
  height: 100%;
  margin-top: 50px;
}

.FB_title {
  font-family: 'Poppins Bold', sans-serif;
  font-size: 62px;
  line-height: 93px;
  position: relative;
  color: #000000;
}

.FB_title p {
  font-family: 'Poppins Bold', sans-serif;
  font-size: 48px;
  line-height: 48px;
  text-align: left;
}

.FB__title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0px;
  width: 58.61px;
  height: 7.33px;
  background-color: #ffcd11;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 160px;
  height: auto;
}

.FB_btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FB_btn button {
  width: 160px;
  height: 38px;
  cursor: pointer;
  background-color: #ffcd11;
  font-size: 20.52px;
  font-family: 'Poppins Bold', sans-serif;
  line-height: 16.41px;
  text-align: center;
  border-radius: 5px;
}

.first_section,
.second_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 99px;
  margin-left: 40px;
}

.first_section {
  margin-top: 20px;
}

.second_section {
  margin-top: 50px;
}

.second_section p {
  margin-left: 40px;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 22.86px;
  line-height: 34.29px;
}

@media (min-width: 1921px) {
  .FB_title {
    margin-left: 95px;
    font-size: 62.37px;
    line-height: 93px;
    position: relative;
  }

  .FB_title p {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .FB__title::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    width: 58.61px;
    height: 7.33px;
    background-color: #ffcd11;
  }

  .first_section,
  .second_section {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
  }

  .logos {
    padding: 0 10px;
  }

  .FB_btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .FB_title {
    margin-left: 95px;
    font-size: 62px;
    line-height: 93px;
    position: relative;
  }

  .FB_title p {
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .FB__title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 58.61px;
    height: 7.33px;
    background-color: #ffcd11;
  }

  .first_section,
  .second_section {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
  }

  .logos {
    padding: 0 10px;
  }

  .FB_btn {
    margin-top: 50px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .FB_title {
    margin-left: 95px;
    font-size: 62px;
    line-height: 93px;
    position: relative;
  }

  .FB_title p {
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .FB__title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 58.61px;
    height: 7.33px;
    background-color: #ffcd11;
  }

  .first_section,
  .second_section {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
  }

  .logos {
    padding: 0 10px;
  }

  .FB_btn {
    margin-top: 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .FB_title {
    margin-left: 56px;
    font-size: 62px;
    line-height: 93px;
    position: relative;
  }

  .FB_title p {
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .FB__title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 58.61px;
    height: 7.33px;
    background-color: #ffcd11;
  }

  .first_section,
  .second_section {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
  }

  .logos {
    padding-left: 150px;
  }

  .FB_btn {
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FB_title {
    margin-left: 56px;
    font-size: 62px;
    line-height: 93px;
    position: relative;
  }

  .FB_title p {
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .FB__title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 58.61px;
    height: 7.33px;
    background-color: #ffcd11;
  }

  .first_section,
  .second_section {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
  }

  .logos {
    padding: 0 10px;
  }

  .FB_btn {
    margin-top: 50px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .FB_title {
    margin-left: 56px;
    position: relative;
  }

  .FB_title p {
    font-size: 38px;
    line-height: 48px;
    text-align: left;
  }

  .FB__title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 58.61px;
    height: 7.33px;
    background-color: #ffcd11;
  }

  .first_section,
  .second_section {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 0px;
    margin-left: 0px;
  }
  .second_section p {
    padding: 20px 0 20px 0;
  }

  .logos {
    flex-direction: row;
    padding-top: 50px;
    padding-left: 0px;
  }

  .FB_btn {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .FB_title {
    margin-left: 56px;
    position: relative;
  }

  .FB_title p {
    font-size: 38px;
    line-height: 48px;
    text-align: left;
  }

  .FB__title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 58.61px;
    height: 7.33px;
    background-color: #ffcd11;
  }

  .first_section,
  .second_section {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }
  .second_section p {
    padding: 20px 0 20px 0;
  }

  .logos {
    flex-direction: row;
    padding-left: 0px;
  }

  .FB_btn {
    margin-top: 50px;
  }
} */
