.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.wrapper li {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 10px 20px;
}

.wrapper li a:hover {
  color: #ecc115;
}